@use 'base/variables' as v;
@use 'base/mixins' as m;

.paginacion{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    @include m.mediaq(v.$tablet){
        justify-content: flex-end;
    }

    &__enlace{
        color: v.$moradoTransparente;
        font-size: 1.6rem;

        &--texto{
            padding: 1rem;
            border-radius: .5rem;
            border: 1px solid v.$moradoTransparente;

            &:hover{
                background-color: v.$morado;
                color: v.$blanco;
            }
        }

        &--numero{
            font-weight: v.$bold;
            display:none;
            @include m.mediaq(v.$tablet){
                display:inline;
            }
        }

        &--activo{
            color:v.$morado;
            font-weight: v.$bold;
            display:none;
            @include m.mediaq(v.$tablet){
                display:inline;
            }
        }

    }
}