@use 'base/variables' as v;
@use 'base/mixins' as m;

.inputSwal{
    width:90%;
    font-family:'Times New Roman', Times, serif;
    font-size: 1.4rem;
    flex: 1;
    border:none;
    padding: calc(v.$separacion / 4);
    border-radius: 5px;
    border:1px solid v.$morado;
    margin-right: 1rem;
}

.swalText{
    color:darken(v.$morado, 10%);
    font-size:1.6rem;
    
}