@use 'variables' as v;
@use 'base/mixins' as m;

h1, h2, h3{
    font-family: v.$encabezados;
    font-weight: 900;
    color: v.$morado;
    margin:0;
    text-align: center;
}

h1 {
    font-size: 3rem;
    font-family:Timbuctu, sans-serif;
}
h2 {
    font-size: 3rem;
    
    &.encabezado_h2{
        margin-top: 4rem;
    }
}
h3 {
    font-size: 2rem;
    text-align: center;
    @include m.tablet {
        font-size: 3.5rem;
    }
}

h4{
    font-family: v.$fuente_principal;
    font-weight: bold;
    color: v.$morado;
    margin-top: 2rem;
    text-align:center;
}
p {
    font-family: v.$fuente_principal;
    color: v.$blanco;
    font-size: 2rem;
}

@font-face{
    font-family:Timbuctu;
    src:url(../../fuentes/K22Timbuctu-O2wP.ttf) ;
}