@use 'base/variables' as v;
@use 'base/mixins' as m;

.spot{
    margin-top: 2rem;

    margin-bottom: 3rem;
    background-color: lighten(v.$morado,5%);
    padding: 1.5rem;
    border-radius:.5rem;
    width: 90%;
    max-width: 800px;
    -webkit-box-shadow: 3px 10px 24px 13px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 10px 24px 13px rgba(0,0,0,0.6);
    box-shadow: 3px 10px 24px 13px rgba(0,0,0,0.6);

    h3{
        color:v.$blanco;
        font-weight: 500;
        margin-bottom: 1.5rem;
    }
}

.boton-spot{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    @include m.boton (v.$blanco, v.$morado );
}